
@main-color:#1d1e1f;//主色
@main-border-color:#000;
@fontColor:#fff; //字体颜色
@panelColor:#1d2127; //面板颜色
@input-bg-color:#262C33;//输入框颜色
@input-border-color:#0B0C0D;//输入框边框颜色
@input-label-color:darkgrey;
@btn-color:rgba(64, 158, 255, 0.8);//按钮颜色
